{% extends "base.html" %}
{% block title %}Attendance{% endblock title%}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5 text-center">AI Attendance System</h3>
            <br>
            <div id="container">
                <div>
                    <video autoplay="true" id="videoElement"></video>
                    <canvas id="canvasElement"></canvas>
                    <p class="text-center"><img src="{{ url_for('video_feed') }}" id="photo" height="80%" width="80%" style="border-radius: 25px"></p>
                </div>
            </div>


            <form action="{{ url_for('confirm')}}" method="post">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-block btn-large">Confirm Identity</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock body %}